 </div>
        <table class="table table-striped">
      <thead>
        <tr>
          <th>รหัสนิสิต</th>    
          <th>ชื่อ-นามสกุล</th>   
          <th>คณะ</th>
          <th>ระดับการศึกษา</th>           
          <th>ประเภทรูปแบบ</th> 
          <th>การชำระเงิน</th>  
        </tr>
      </thead>
      
      <tbody>
        <tr ng-repeat="order in order_list | filter:search" ng-show="order.type=='คณะเกษตรศาสตร์ทรัพยากรธรรมชาติและสิ่งแวดล้อม'" >             
          <td><a href="#/order/{{order._id}}">{{order.student.id}}</a></td>        
          <td>{{order.student.prefix_name}}{{order.student.first_name}} {{order.student.last_name}}</td>  
          <td>{{order.student.faculty.name}}</td>
          <td>{{order.student.level.name}}</td>             
          <td>{{order.type}}</td>      
          <td><span ng-show="order.payment_id">จ่ายเงินแล้ว</span></td>          
        </tr>
      </tbody>
    </table>
  </div>       

เพิ่มข้อมูล

<th>เพิ่มข้อมูล <a href="#/add/gradstate"><i class="icon-plus-sign"></i></a></th>     


<div class="row-fluid">
  <div class="span12">
    <div class="input-prepend">
        <span class="add-on">---พิมพ์คำสำคัญที่ต้องการค้นหาข้อมูล---<i class="icon-search"></i></span>
        <input type="text" placeholder="Search" ng-model="search">    
    </div>
    
    <br><div class="alert alert-danger">คณะเกษตรศาสตร์ทรัพยากรธรรมชาติและสิ่งแวดล้อม</div>
    
          <a href="#/add/gradstate" class="btn btn-danger"><i class="icon-plus icon-white"></i> เพิ่มข้อมูล</a> 
        <table class="table table-striped">
      <thead>
        <tr>
          <th>คณะ</th>
          <th>ชื่อเวทีวิชาการ</th>    
          <th>ระดับ</th>
          <th>รูปแบบการจัดประชุม</th> 
          <th>สถานที่จัดประชุม</th>                            
          <th>ประเทศ</th>
          <th>ระยะเวลา</th>                                        
         
          <th>เพิ่มข้อมูล <a href="#/add/gradstate"><i class="icon-plus-sign"></i></a></th>      
   
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="gradstate in gradstate_list |  filter:search " ng-show="gradstate.faculty=='คณะเกษตรศาสตร์ทรัพยากรธรรมชาติและสิ่งแวดล้อม'">
          <td><a href="#/edit/gradstate/{{gradstate._id.$oid}}">{{gradstate.faculty}}</a></td>       
          <td><a href="#/edit/gradstate/{{gradstate._id.$oid}}">{{gradstate.name}}</a></td>       
          <td>{{gradstate.level}}</td>     
          <td>{{gradstate.format}}</td>    
          <td>{{gradstate.place}}</td>    
          <td>{{gradstate.country}}</td>     
          <td>{{gradstate.time}}</td>  
        </tr>
      </tbody>
    </table>
  </div>  
</div>      

ลิส เลือกคณะ
      <ul class="nav" ng-controller="FacultyListController">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">เลือกคณะ 
                <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="faculty in faculty_list"><a href="" ng-click="filter(faculty)"><span ng-bind="faculty"></span></a></li>  
                </ul>
              </li>
           </ul>
